<!DOCTYPE html>
<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
   </head>
   <body>
      <h2>Welcome to the COVID Vaccination Management System</h2>
      <p><a href="/enter_record">Click here</a> to enter new record</p>
      <p><a href="/display_id_info">Click here</a> to view given ID record</p>
      <p><a href="/vaccinated_record">Click here</a> view all vaccinated records</p>
   </body>
</html> 


